

.customBlueLight{
    background-color: #2baae2
}

.customBlueDark{
    background-color: #1172BA; 
}

.customBlueDarker{
    background-color: #04537f
}

.darkGreyishBlue{
    background-color: #4D5B72;;
}
.GrayLavender{
    background-color: #A4A3A4;
}


@font-face {
    font-family: "AvenirBookOblique";
    src: url("./utility/FontAvenir/BookOblique/AvenirLTStd-BookOblique.woff2") format("woff2"),
         url("./utility/FontAvenir/BookOblique/AvenirLTStd-BookOblique.woff") format("woff");
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: "AvenirMediumOblique";
    src: url("./utility/FontAvenir/MediumOblique/AvenirLTStd-MediumOblique.woff2") format("woff2"),
         url("./utility/FontAvenir/MediumOblique/AvenirLTStd-MediumOblique.woff") format("woff");
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: "AvenirBlackOblique";
    src: url("./utility/FontAvenir/BlackOblique/AvenirLTStd-BlackOblique.woff2") format("woff2"),
         url("./utility/FontAvenir/BlackOblique/AvenirLTStd-BlackOblique.woff") format("woff");
    font-weight: 900;
    font-style: oblique;
}





/* Contenedor del carrusel */
#carrusel1-container, #carrusel2-container {
    width: 100%;
    max-width: 800px; /* 🔹 Ajusta según tu necesidad */
    height: 300px; /* 🔹 Ajusta según la altura deseada */
    overflow: hidden;
    position: relative;
}

/* Contenedor interno */
.carousel-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    transition: transform 0.7s ease-in-out;
}

/* Cada elemento del carrusel ocupa el 100% */
.carousel-item {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Las imágenes deben ajustarse completamente al carrusel */
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 🔹 Usa 'cover' si quieres que llene todo sin bordes blancos */
}